:root{
	--sl-line-height: 1.5;
	--sl-font: 'Noto Sans Serif', sans-serif;
}

/* Dark mode colors. */
:root {
	--sp-symbol: #6666ff;
	--he-symbol: #ff6666;
	--di-symbol: #ffcc00;
	--cl-symbol: #66ff99;
	--nt-symbol: #cccccc;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sp-symbol: #0000cc;
	--he-symbol: #ff0033;
	--di-symbol: #ff6600;
	--cl-symbol: #009900;
	--nt-symbol: #333333;
}
