:root{
	--sl-line-height: 1.5;
	--sl-font: 'Noto Sans Serif', sans-serif;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #182c39;
	--sl-color-accent: #3688b1;
	--sl-color-accent-high: #bbe4e9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e2f1f4;
	--sl-color-gray-2: #b4c6ca;
	--sl-color-gray-3: #70929a;
	--sl-color-gray-4: #3d5e65;
	--sl-color-gray-5: #1d3e45;
	--sl-color-gray-6: #0a2c32;
	--sl-color-black: #0d1b1e;
	--tree-background: #052328;

	--sp-symbol: #6666ff;
	--he-symbol: #ff6666;
	--di-symbol: #ffcc00;
	--cl-symbol: #66ff99;
	/* --nt-symbol: #cccccc; */
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #cdecf0;
	--sl-color-accent: #3997b4;
	--sl-color-accent-high: #1e3f53;
	--sl-color-white: #0d1b1e;
	--sl-color-gray-1: #0a2c32;
	--sl-color-gray-2: #1d3e45;
	--sl-color-gray-3: #3d5e65;
	--sl-color-gray-4: #70929a;
	--sl-color-gray-5: #b4c6ca;
	--sl-color-gray-6: #e2f1f4;
	--sl-color-gray-7: #f1f8f9;
	--sl-color-black: #ffffff;
	--tree-background: #f2f9fa;

	--sp-symbol: #0000cc;
	--he-symbol: #ff0033;
	--di-symbol: #ff6600;
	--cl-symbol: #009900;
	/* --nt-symbol: #333333; */
}

@media print {
	.main-frame{
		padding-top: 0 !important;
		padding-inline-start: 0 !important;
	}
	header, footer, nav {
		display: none;
	}
}
