
---
const { stem } = Astro.props;
import '/src/styles/global.css';
---
<div class="bidding-tree">
    { stem }
    <slot />
</div>

<style>
.bidding-tree {
    ul {
        list-style-type: none;
        line-height: 115%;
    }
}
</style>