---
import { h } from 'hastscript'
import { visit, CONTINUE } from 'unist-util-visit'
import { rehype } from 'rehype'

const bodyHtml = await Astro.slots.render('default')
const breakCalls = () => (tree: any) => {
    visit(tree, 'element', (node: any) => {
        if(node.tagName === 'p') {
            node.tagName = 'span'
            if (node.properties.class == undefined) {
                node.properties.class = ['tree-stem']
            } else {
                node.properties.class.push('tree-stem')
            }
            let nodeId = ''
            visit(node, 'text', (textNode: any) => {
                nodeId = nodeId + textNode.value
            })
            node.properties.id = encodeURIComponent(nodeId)
            return CONTINUE
        }
        node.children = node.children.filter(
            (child: any) => !/^\n+$/.test(child.value)
        )
        if (node.tagName !== 'li') return CONTINUE
        
        const colonIndex = node.children.findIndex(c => c.value?.indexOf(':') > -1)
        let texts: string
        if (colonIndex === -1) {
            node.children = [
                h('span.tree-def', node.children),
            ]
        } else {
            texts = node.children[colonIndex].value.split(':', 2)

            node.children = [
                h('span.tree-call', node.children.slice(0, colonIndex).concat(h('text', texts[0]))),
                h('div.tree-def', [
                    h('text', texts[1].trimStart()),
                    ...node.children.slice(colonIndex + 1)
                ])
            ]
        }
    })
}

const processedHtml = await rehype()
    .use(breakCalls)
    .process(bodyHtml)

---
<div class="bidding-tree">
    <Fragment set:html={processedHtml} />
</div>
